html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{ margin: 0; padding: 0; font-size: 100%; font: inherit; border: 0; vertical-align: baseline; outline: none; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote:before, blockquote:after, q:before, q:after 
{ content: ''; content: none; }
input, textarea, select 
{ margin: 0; font: 100% Arial, Helvetica, sans-serif; vertical-align: middle; }
button 
{ margin: 0; font: 100% Arial, Helvetica, sans-serif; vertical-align: middle; cursor: pointer; outline: none; }
blockquote, q 
{ quotes: none; }
.hidden-txt {
	/* hide from IE Mac \*/
	text-indent: -999em;
	overflow: hidden;
	/* end hide */
}
ol, ul 		{ list-style: none; }
table 		{ border-collapse: collapse; border-spacing: 0; }
strong		{ font-weight: bold; }
a 			{ text-decoration: none; }
a:hover 	{ text-decoration: underline; }
hr 			{ display: none; }
.clear-fix 	{ clear: both; }
.png-fix	{}
.margin-0 	{ margin: 0 !important; }
.padding-0	{ padding: 0 !important; }

body {
	background: url(../images/custom/bg.gif);
    font: 68.75%/140% Verdana, Geneva, sans-serif;
	color: #555;
}
#bg-top { background: url(../images/custom/bg-top.png) repeat-x; }

/*





container

*******************************************************************************************************************/

#container {
	position: relative;
	width: 966px;
	margin: 0 auto;
}

.deco-page {
	position: absolute;
	bottom: 33px;
	right: 3px;
	background: url(../images/custom/deco-page.png) no-repeat;
	width: 236px;
	height: 193px;
}
.page-template-page-home-php .deco-page { display: none; } 

.deco-shadow {
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/custom/shadow.png) repeat-x;
	width: 100%;
	height: 115px;
	overflow: hidden;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.page-template-default .deco-shadow,
.page-template-page-contact-php .deco-shadow,
.page-template-page-bungalows-php .deco-shadow,
.page-template-page-virtual-tour-php .deco-shadow,
.page-template-page-reservations-php .deco-shadow,
.page-template-page-other-attrations-php .deco-shadow,
.page-template-page-with-slider-php .deco-shadow,
.search .deco-shadow,
.page-full .deco-shadow  {
	top: 3px;
	background-position: 0 -65px;
	height: 50px;
}

.deco-right-shadow,
.deco-left-shadow {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../images/custom/deco-left-shadow.png) repeat-y;
	width: 10px;
	height: 350px;
	overflow: hidden;
}
.deco-right-shadow {
	left: auto;
	right: 0;
	background-image: url(../images/custom/deco-right-shadow.png);
}
.deco-top-shadow,
.deco-bottom-shadow {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../images/custom/deco-bottom-shadow.png) repeat-x;
	width: 100%;
	height: 10px;
	overflow: hidden;
}
.deco-top-shadow {
	top: 0;
	bottom: auto;
	background-image: url(../images/custom/deco-top-shadow.png);
	height: 13px;
}


/*





header

*******************************************************************************************************************/

#header {
	position: relative;
	height: 165px;
}
#header .company-logo {
	width: 318px;
	height: 165px;
	margin: 0 auto;
}
#header .company-logo a {
	display: block;
	background: url(../images/custom/logo_1.png) no-repeat;
	width: 318px;
	height: 165px;
}

/*





navigation

*******************************************************************************************************************/

#navigation {
	position: relative;
	background: url(../images/custom/nav.png) no-repeat;
	width: 942px;
	height: 69px;
	margin: -12px auto 0;
	text-align: center;
	z-index: 99;
}
#navigation ul { list-style: none; }
#navigation li { 
	display: inline-block; 
	/* hack for IE7 */
	*display: inline;
	*zoom: 1;
	/* end hack for IE7 */
}

#navigation li.current-menu-item a {
	color: #43916D !important;
	text-shadow: 1px 1px #EEEEFF;
}

#navigation a {
	display: inline-block;
	padding: 0 5px;
	font: 14px/69px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #6c6c6c;
	text-shadow: 1px 1px #fff;
	/* hack for IE7 */
	*display: inline;
	*zoom: 1;
	/* end hack for IE7 */
}
#navigation a:hover { text-decoration: none;  color: #43916D !important; text-shadow: 1px 1px #EEEEFF; }

/*





banner

*******************************************************************************************************************/

#banner {
	position: relative;
	background: url(../images/custom/bg-banner.png) no-repeat;
	width: 954px;
	height: 460px;
	margin: -36px auto 0;
	padding: 5px 6px 0;
}
#banner #main-pic {
	position: relative;
	width: 954px;
	height: 355px;
}
#banner #main-pic .pic-wrapper {
	position: relative;
	width: 954px;
	height: 355px;
	overflow: hidden;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
#banner #main-pic .imgbg {
	display: block;
	width: 954px;
	height: 355px;
	overflow: hidden;
}
#banner #main-pic .imgbg img {
	display: block;
	width: 954px;
	height: 355px;
}
#banner #main-pic .pic-caption {
	position: absolute;
	bottom: -90px;
	left: 0;
	width: 310px;
	height: 75px;
	padding: 15px 30px 0 37px;
	font: italic 12px/16px Verdana, Geneva, sans-serif;
	color: #4a4444;
	overflow: hidden;
}
#banner #slider {
	position: absolute;
	bottom: 10px;
	right: 0;
	width: 580px;
	height: 110px;
	z-index: 9;
}
#banner #slider .slides_container {
	display: inline;
	float: right;
	width: 355px;
	height: 74px;
	margin: 0 105px 0 0;
	padding: 32px 0 0;
}
#banner #slider .slide {
	width: 355px;
	height: 74px;
	margin: 0 auto;
}
#banner #slider .pic {
	display: inline;
	float: left;
	position: relative;
	width: 57px;
	height: 57px;
	margin: 0 6px;
	border: 1px solid #d4d4d4;
	box-shadow: 1px 1px 1px #fff;
}
#banner #slider .pic:hover { text-decoration: none; }
#banner #slider .pic .image {
	display: block;
	width: 57px;
	height: 57px;
	overflow: hidden;
}
#banner #slider .pic .deco {
	display: none;
	position: absolute;
	top: -27px;
	left: 0;
	background: url(../images/custom/arrow-up.png) 50% 0 no-repeat;
	width: 57px;
	height: 11px;
	z-index: 5;
}
#banner #slider .pic-active .deco { display: block; }
#banner #slider .prev,
#banner #slider .next {
	position: absolute;
	top: 13px;
	right: 80px;
}
#banner #slider .prev { right: 465px; }
#banner #banner-loading {
	display: none;
	position: absolute;
	top: 4px;
	left: 4px;
	background: #fff url(../images/custom/loading.gif) 50% 50% no-repeat;
	width: 958px;
	height: 449px;
	/* hide from IE Mac \*/
	text-indent: -999em;
	overflow: hidden;
	/* end hide */
	z-index: 9;
	opacity: 0.5;
}

/*





content

*******************************************************************************************************************/

#content {
	position: relative;
	background: url(../images/custom/bg-content.png) 50% 0 no-repeat;
	height: 1%;
	padding: 0 3px;
}
.page-template-default #content,
.page-template-page-contact-php #content,
.page-template-page-bungalows-php #content,
.page-template-page-virtual-tour-php #content,
.page-template-page-reservations-php #content,
.page-template-page-other-attrations-php #content,
.page-template-page-with-slider-php #content,
.search #content,
#content.page-full { margin-top: -36px; }


/* #main-content */

#main-content {
	display: inline;
	position: relative;
	float: left;
	width: 675px;
	padding: 3px 0 0;
	border-right: 1px solid #e5e5e5;
}
.page-template-default #main-content,
.page-template-page-contact-php #main-content,
.page-template-page-bungalows-php #main-content,
.page-template-page-virtual-tour-php #main-content,
.page-template-page-reservations-php #main-content,
.page-template-page-other-attrations-php #main-content,
.page-template-page-with-slider-php #main-content,
.search #main-content,
.page-full #main-content {
	display: block;
	float: none;
	width: auto;
	margin: 0 auto;
	padding: 45px 45px 45px 80px;
	border-right: none;
}


/* .home-box */

.home-box {
	display: inline;
	float: left;
	width: 346px;
	height: 230px;
	text-align: center;
}
.home-box h3 {
	background: url(../images/custom/deco-underline.png) 50% 100% no-repeat;
	height: 50px;
	font: 24px/50px "Palatino Linotype", "Book Antiqua", Palatino, serif;
text-shadow: 0 1px #C6C6C6;
}


/* #photo-gallery */

#photo-gallery { border-right: 1px solid #e5e5e5; }


/* #video-tour */

#video-tour {
	float: right;
	width: 328px;
}


/* #default-content */

#default-content {
	padding: 10px 35px 0;
	height: auto;
margin-bottom: 10px;
	text-align: justify;
}

#default-content h2 {
	background: url(../images/custom/deco-underline.png) 50% 100% no-repeat;
	height: 50px;
	margin: 0 0 10px;
	font: 24px/50px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
	text-shadow: 0 1px #c6c6c6;
}


/* .page-content */

.page-content {
	height: 1%;
	clear: both; 
}
.page-content .col-left {
	display: inline;
	float: left;
	width: 470px;
}
.page-content .col-left-w535 { width: 535px; }
.page-content .col-right {
	display: inline;
	float: right;
	width: 430px;
	margin: 0 20px 0 0;
}
.page-content-deco {
	background: url(../images/custom/bg-page-content.png) 50% 100% no-repeat;
	margin: 0 0 15px;
	padding: 0 0 8px;
}
.box-for-deco {
	background: url(../images/custom/deco-line.png) 50% 100% no-repeat;
	margin: 0 0 15px;
	padding: 0 0 8px;
}


/* .default-styles */

.default-styles h1 {
	margin: 0 0 20px;
	font: 24px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-shadow: 0 1px #c6c6c6;
}
.default-styles h2 {
	margin: 0 0 20px;
	font: 23px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-shadow: 0 1px #c6c6c6;
}
.default-styles h3 {
	font: 12px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0 0 10px;
}
.default-styles h4 {
	margin: 0;
	font-weight: normal;
}
.default-styles p { margin: 0 0 15px; }
.default-styles ul {
	margin: 0 0 15px 15px;
	list-style: disc;
}
.default-styles ol {
	margin: 0 0 15px 20px;
	list-style: decimal;
}
.default-styles img {
	display: block;
	background: #fff;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #ccc;
}
.default-styles img.no-deco,
 .default-styles .sidebar img {
	display: inline;
	background: none;
	margin: auto;
	padding: 0;
	border: none;
	box-shadow: none;
}
.default-styles .alignleft,
.default-styles img.alignleft {
	display: inline;
	float: left;
	margin-right: 25px;
	margin-top: 4px;
}
.default-styles .alignright,
.default-styles img.alignright {
	display: inline;
	float: right;
	margin-left: 25px;
	margin-top: 4px;
}
.default-styles .aligncenter,
.default-styles img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}
.default-styles img.alignleft,
.default-styles img.alignright,
.default-styles img.aligncenter { margin-bottom: 12px; }
.default-styles .col {
	display: inline;
	float: left;
	width: 45%;
	margin: 0 4.9% 15px 0;
}
.default-styles ul.col {
	margin-left: 15px;
	margin-right: 0;
	list-style-position: outside; 
}
.default-styles ul.col-r { float: right; }
.default-styles .table-box {
	background: #fff;
	margin: 0 0 15px;
	padding: 35px 30px 20px 35px;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #ccc;
}
.default-styles .table-box table {
	width: 100%;
	border: none;
	border-collapse: collapse;
}
.default-styles .table-box th {
	padding: 0 0 10px;
	text-align: left;
	vertical-align: bottom;
}
.default-styles .table-box td { padding: 1px 0; }
.default-styles .table-box .total td { padding: 10px 0 0; }


/* .box-palatino */

.box-palatino { font: 11px "Palatino Linotype", "Book Antiqua", Palatino, serif; }
.box-palatino h2 { margin: 0 0 10px; }
.box-palatino h3 {
	margin: 0;
	font-weight: bold;
}

.attractions-list { margin: 0 0 15px; }
.attractions-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.attractions-list ul li {
	display: inline;
	float: left;
	position: relative;
	width: 182px;
	height: auto !important;
	height: 75px;
	min-height: 75px;
	margin: 0;
	padding: 0 15px 0 70px;
	overflow: hidden;
}
.attractions-list ul strong { display: block; }
.attractions-list ul img {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
}
.attractions-list a { color: #555; }
.attractions-list a:hover { text-decoration: none; }


/* .default-form */

.default-form {}
.default-form label {
	display: block;
	font: 12px Arial, Helvetica, sans-serif;
	color: #2b2623;
}
.default-form .field-text {
	display: block;
	background: url(../images/custom/bg-text-177.png) no-repeat;
	width: 177px;
	height: 20px;
}
.default-form .field-text input {
	background: none;
	width: 167px;
	height: 20px;
	padding: 0 5px;
	border: none;
	line-height: 20px;
}
.default-form .field-textarea {
	display: block;
	background: url(../images/custom/bg-textarea-377.png) no-repeat;
	width: 377px;
	height: 102px;
}
.default-form .field-textarea textarea {
	background: url(../images/custom/bg-textarea-377.png) no-repeat;
	width: 373px;
	height: 98px;
	padding: 2px;
	border: none;
	resize: none;
}
.default-form .button {}
.default-form button {}


/* #booking-details */

.default-styles #booking-details { position: relative ; }

.default-styles #booking-details .col-title { width: 245px; }

.default-styles #booking-details .change-button { 
	height: 26px;
	margin: 0;
	padding: 0 0 0 240px;
}
.default-styles #booking-details .change-button a {
	display: block;
	background: url(../images/custom/button-change.png) no-repeat;
	width: 70px;
	height: 26px;
}

.default-styles #booking-details #book-online-form {
	display: none;
	margin: 0 auto;
}
.default-styles #booking-details #book-online-form p { 
	height: 42px;
	margin: 0;
}
.default-styles #booking-details #book-online-form label { 
	display: inline;
	float: left;
	width: 245px;
	font: italic 14px/26px Georgia, "Times New Roman", Times, serif;
	color: #525252;
}
.default-styles #booking-details #book-online-form .field-select {
	display: block;
	float: left;
	background: url(../images/custom/bg-select-158.gif) no-repeat;
	width: 148px;
	height: 37px;
	padding: 3px 5px 0;
}
.default-styles #booking-details #book-online-form .field-select input,
.default-styles #booking-details #book-online-form .field-select select {
	background: none;
	width: 148px;
	padding: 0;
	font: italic 14px Georgia, "Times New Roman", Times, serif;
	color: #525252;
	border: none;
}
.default-styles #booking-details #book-online-form .field-select select {
	width: 148px;
	padding: 0;
}
.default-styles #booking-details #book-online-form .button { 
	height: auto;
	margin: 0;
}
.default-styles #booking-details #book-online-form button {
	display: block;
	background: url(../images/custom/button-submit.png) no-repeat;
	width: 143px;
	height: 37px;
	margin: 0 auto;
	padding: 0;
	border: none;
}


/* #book-online-options */

.default-styles #booking-details #book-online-options .options { padding: 25px 0 0; }
.default-styles #booking-details #book-online-options p { 
	height: 42px;
	margin: 0;
	padding: 0;
}
.default-styles #booking-details #book-online-options label { 
	display: inline;
	float: left;
	width: 245px;
	font: italic 14px/26px Georgia, "Times New Roman", Times, serif;
	color: #525252;
}
.default-styles #booking-details #book-online-options .field-select {
	display: block;
	float: left;
	background: url(../images/custom/bg-select-158.gif) no-repeat;
	width: 148px;
	height: 37px;
	padding: 3px 5px 0;
}
.default-styles #booking-details #book-online-options .field-select input,
.default-styles #booking-details #book-online-options .field-select select {
	background: none;
	width: 148px;
	padding: 0;
	font: italic 14px Georgia, "Times New Roman", Times, serif;
	color: #525252;
	border: none;
}
.default-styles #booking-details #book-online-options .field-select select {
	width: 148px;
	padding: 0;
}
.default-styles #booking-details #book-online-options .button { 
	height: auto;
	margin: 0;
	padding: 10px 0 0;
}
.default-styles #booking-details #book-online-options button {
	display: block;
	background: url(../images/custom/button-continue.png) no-repeat;
	width: 143px;
	height: 37px;
	margin: 0 auto;
	padding: 0;
	border: none;
}


/* #booking-acommodations */

.default-styles #booking-acommodations .bungalow-item {}
.default-styles #booking-acommodations .bungalow-item th,
.default-styles #booking-acommodations .bungalow-item td {
	height: 26px;
	padding: 5px 0;
	vertical-align: middle;
}
.default-styles #booking-acommodations .bungalow-item .col-title { width: 240px; }
.default-styles #booking-acommodations .bungalow-item .col-details,
.default-styles #booking-acommodations .bungalow-item .col-booking { width: auto; }
.default-styles #booking-acommodations .bungalow-item .col-details a {
	display: block;
	background: url(../images/custom/button-details.png) no-repeat;
	width: 70px;
	height: 26px;
	/* hide from IE Mac \*/
	text-indent: -999em;
	overflow: hidden;
	/* end hide */
}
.default-styles #booking-acommodations .bungalow-item .col-booking button {
	display: block;
	background: url(../images/custom/button-book-now.png) no-repeat;
	width: 70px;
	height: 26px;
	padding: 0;
	/* hide from IE Mac \*/
	text-indent: -999em;
	overflow: hidden;
	/* end hide */
	border: none;
}


/* .table-box */

.default-styles .table-box .book-form {}
.default-styles .table-box .book-form p {
	position: relative;
	height: 42px;
	margin: 0;
	padding: 0;
}
.default-styles .table-box .book-form label { 
	display: inline;
	float: left;
	width: 245px;
	font: italic 14px/26px Georgia, "Times New Roman", Times, serif;
	color: #525252;
}
.default-styles .table-box .book-form .field-select {
	display: block;
	float: left;
	background: url(../images/custom/bg-select-158.gif) no-repeat;
	width: 148px;
	height: 37px;
	padding: 3px 5px 0;
}
.default-styles .table-box .book-form .field-select input,
.default-styles .table-box .book-form .field-select select {
	background: none;
	width: 148px;
	padding: 0;
	font: italic 14px Georgia, "Times New Roman", Times, serif;
	color: #525252;
	border: none;
}
.default-styles .table-box .book-form .field-select select {
	width: 148px;
	padding: 0;
}
.default-styles .table-box .book-form .payment-method {
	position: relative; 
	height: auto;
	margin: 0 0 10px;
}
.default-styles .table-box .book-form .payment-method label {
	display: block;
	float: none;
	width: auto;
}
.default-styles .table-box .book-form .payment-method input { 
	margin-right: 5px;
	width: auto;
	height: auto;
	padding: 0;
}
.default-styles .table-box .book-form .payment-method .field-select {
	display: block;
	float: none;
	position: absolute;
	top: 0;
	right: 0;
	line-height: normal;
	z-index: 9;
}
.default-styles .table-box .book-form .terms-agree { 
	height: auto;
	margin: 0 0 10px;
}
.default-styles .table-box .book-form .terms-agree label {
	display: block;
	float: none;
	width: auto;
	font: 11px Verdana, Geneva, sans-serif;
}
.default-styles .table-box .book-form .terms-agree input { margin: 0 5px 2px 0; }
.default-styles .table-box .book-form .terms-agree a { margin-left: 22px; }
.default-styles .table-box .book-form .button { 
	height: auto;
	margin: 0;
	padding: 10px 0 0;
}
.default-styles .table-box .book-form button {
	display: block;
	background: url(../images/custom/button-continue.png) no-repeat;
	width: 143px;
	height: 37px;
	margin: 0 auto;
	padding: 0;
	border: none;
}
.default-styles .table-box #submit_payment_free button {
	background: url(../images/custom/button-confirm.png) no-repeat;
}
.default-styles .table-box #submit_payment button {
	background: url(../images/custom/button-confirm-and-pay.png) no-repeat;
}
.default-styles .table-box .book-form .form-error {
	position: absolute;
	top: 22px;
	left: 245px;
	width: 175px;
	font-size: 10px;
	color: red;
}

/* .gform_wrapper */

.gform_wrapper {
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(left,  #e5e5e5 1%, #f2f2f2 49%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,#e5e5e5), color-stop(49%,#f2f2f2), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e5e5e5 1%,#f2f2f2 49%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e5e5e5 1%,#f2f2f2 49%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e5e5e5 1%,#f2f2f2 49%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to right,  #e5e5e5 1%,#f2f2f2 49%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
	border: 1px solid #3c3c3c;
  	position: relative;
  	max-width: 100% !important;
  	margin: 40px auto;
  	padding: 20px;
  	font: italic 14px/26px Georgia, "Times New Roman", Times, serif;
}
.gform_wrapper:before, .gform_wrapper:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.gform_wrapper:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.reservation_form label {
	position: absolute;
	font-size: 14px;
}

.reservation_form label.top {
	top: 0%;
}
.reservation_form label.row2 {
	top: 8.5%;
}
.reservation_form label.row3 {
	top: 17%;
}

.reservation_form input {
	font-size: 18px;
	padding: 2px;
}

.reservation_form p {
	line-height: 3em;
	font-size: 20px;
}

.reservation_form textarea.textarea {
	padding: 40px 0 0 5px;
}

/* .post-comment */

.post-comment {
	position: relative;
	background: url(../images/custom/bg-form.png) repeat-x;
	width: 402px;
	height: 272px;
	margin: 19px 0 40px;
	padding: 38px 30px 0;
	overflow: hidden;
}
.post-comment p {
	margin: 0;
	padding: 0 0 8px; 
	clear: both; 
}
.post-comment .half {
	display: inline;
	float: left;
	width: 49.9%;
	clear: none;
}
.post-comment .default-form .button {
	margin: 0;
	padding: 12px 0 20px;
	overflow: hidden;
}
.post-comment .default-form button {
	display: block;
	background: url(../images/custom/button-post-comment.png) no-repeat;
	width: 122px;
	height: 30px;
	margin: 0;
	padding: 0;
	border: none;
}
.post-comment .formloader { display: none; }
.post-comment .formresult {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 290px;
	padding: 10px;
}
.post-comment .formsuccess { color: green; }
.post-comment .formerror { color: red; }


/* #page-slider */

#page-slider {
	display: inline;
	float: left;
	background: #fff;
	width: 345px;
	margin: 0 25px 12px 0;
	padding: 10px;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #ccc;
}
#page-slider .slide {
	position: relative;
	width: 345px;
	height: 365px;
	overflow: hidden;
}
#page-slider .slide .image {
	position: absolute;
	top: 0;
	left: -100px;
	width: 545px;
	height: 365px;
}
#page-slider img {
	display: block;
	background: none;
	min-width: 345px;
	height: 365px;
	margin: 0 auto;
	padding: 0;
	border: none;
	box-shadow: none;
}


/* #social */

#social {
	background: url(../images/custom/bg-social.png) repeat-x;
	height: 64px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	clear: both;
	overflow: hidden;
}
.page-template-default #social,
.page-template-page-contact-php #social,
.page-template-page-bungalows-php #social,
.page-template-page-virtual-tour-php #social,
.page-template-page-reservations-php #social,
.page-template-page-other-attrations-php #social,
.page-template-page-with-slider-php #social,
.search #social,
.page-full #social { border-top: none; }
#social h3 {
	display: inline;
	float: left;
	padding: 0 75px;
	font: 24px/64px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #373737;
}
.page-template-default #social h3,
.page-template-page-contact-php #social h3,
.page-template-page-bungalows-php #social h3,
.page-template-page-virtual-tour-php #social h3,
.page-template-page-reservations-php #social h3,
.page-template-page-other-attrations-php #social h3,
.page-template-page-with-slider-php #social h3,
.search #social h3,
.page-full #social h3 {
	padding: 0 95px 0 80px;
	font-size: 20px;
}


/* .video-tour */

.video-tour {
background: white;
width: 520px;
margin: 0 auto 20px;
padding: 10px;
border: 1px solid #CCC;
box-shadow: 0 0 10px #CCC;
overflow: hidden;
}


/* image-gallery */

#image-gallery { padding: 50px 0 0; }
#image-gallery #slider {
	position: relative;
	background: url(../images/custom/bg-image-gallery.png) repeat-x;
	height: 57px;
	padding: 7px 0 6px;
}
#image-gallery .slides_container { 
	width: 835px;
	height: 57px;
}
#image-gallery .slide {
	width: 835px;
	height: 57px;
	text-align: center; 
}
#image-gallery .slide .pic {
	display: inline-block;
	width: 57px;
	height: 57px;
	margin: 0 4px;
	overflow: hidden;
	/* hack for IE7 */
	*display: inline;
	*zoom: 1;
	/* end hack for IE7 */
}
#image-gallery img {
	display: inline;
	background: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
}
#image-gallery .prev,
#image-gallery .next {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
}
#image-gallery .prev { 
	left: 0;
	right: auto;
}
#image-gallery .prev img,
#image-gallery .next img {
	margin: 0;
	border: none; 
}


/* #bungalows-wrapper */

#bungalows-wrapper {}

#bungalows-nav {
	margin: 0;
	padding: 0;
	list-style: none
}
#bungalows-nav li {
	display: block;
	background: none;
	margin: 0;
	padding: 0 0 5px;
}
#bungalows-nav a {
	display: block;
	padding: 0 0 0 13px;
	color: #555;	
}
#bungalows-nav a:hover,
#bungalows-nav .active a { 
	background: url(../images/custom/arrow.png) 0 50% no-repeat;
	text-decoration: none;
	color: #43916D;
}

#bungalows-wrapper .bungalows-gallery,
#bungalows-wrapper .carousel-container {
	position: relative;
	width: 535px;
	height: 450px;
	margin: 0 auto;
}
#bungalows-wrapper .bungalows-images-links { 
	display: none;
	position: relative;
	height: 1%;
	padding: 30px 0;
}
#bungalows-wrapper .bungalows-images-links img {
	display: inline-block;
	background: none;
	margin: 0;
	padding: 0;
	text-shadow: none;
	/* hack for IE7 */
	*display: inline;
	*zoom: 1;
	/* end hack for IE7 */
}
#bungalows-wrapper .bungalows-gallery img {
background: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0 0 2px #000000;
    display: inline;
    margin: 0;
    padding: 10px;
    width: 340px;
}

#bungalows-wrapper .bungalows-gallery .carousel-feature {
	position: absolute;
	top: -1000px;
	left: -1000px;
	cursor: pointer;
}

#bungalows-wrapper .bungalows-details {
	position: relative;
	padding: 0;
}
#bungalows-wrapper .bungalows-details h2 {
	margin: 0 0 15px;
	font: bold 13px Verdana, Geneva, sans-serif;
	text-shadow: none;
}

#bungalows-wrapper .bungalow-content {
	position: relative;
	width: 100%;
	min-height: 400px;
}
#bungalows-wrapper #loading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/custom/loading.gif) 50% 50% no-repeat;
	width: 100%;
	height: 400px;
	/* hide from IE Mac \*/
	text-indent: -999em;
	overflow: hidden;
	/* end hide */
}


/* .sidebar */

.sidebar {
	display: inline;
	float: right;
	background: #f8f8f8;
	width: 284px;
}
.page-template-default .sidebar,
.page-template-page-reservations-php .sidebar,
.page-template-page-other-attrations-php .sidebar,
.search .sidebar,
.page-full .sidebar,
.page-template-page-bungalows-php .sidebar { background: none; }


/* #book-online */

#book-online {
	position: relative;
	background: url(../images/custom/bg-book-online.png) no-repeat;
	height: auto !important;
	height: 298px;
	min-height: 298px;
	z-index: 99;
}
.page-template-default #book-online,
.page-template-page-reservations-php #book-online,
.page-template-page-other-attrations-php #book-online { margin: 0 0 3px; }
#book-online h3 {
	height: 47px;
	height: 55px;
	margin: 0 0 5px;
	font: 24px/47px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #616060;
	text-align: center;
	text-shadow: 0 1px #fff;
}
#book-online p { 
	height: 35px;
	height: 42px;
	margin: 0;
	padding: 0 20px;
	overflow: hidden;
}
#book-online label { 
	display: inline;
	float: left;
	width: 70px;
	font: italic 14px/26px Georgia, "Times New Roman", Times, serif;
	color: #525252;
}
#book-online .field-select {
	display: block;
	float: left;
	background: url(../images/custom/bg-select.gif) no-repeat;
	width: 164px;
	height: 37px;
	padding: 3px 5px 0;
}
#book-online .field-select input,
#book-online .field-select select {
	background: none;
	width: 164px;
	padding: 0;
	font: italic 14px Georgia, "Times New Roman", Times, serif;
	color: #525252;
	border: none;
}
#book-online .field-select select {
	width: 164px;
	padding: 0;
}
#book-online a {
	display: inline;
	float: right;
	background: url(../images/custom/button-view.png) no-repeat;
	width: 51px;
	height: 26px;
	/* hide from IE Mac \*/
	text-indent: -999em;
	overflow: hidden;
	/* end hide */
}
#book-online .button {
	height: 57px;
	height: 56px;
	padding: 14px 0 0;
	border-bottom: 1px solid #b5b5b5;
}
#book-online button {
	display: block;
	background: url(../images/custom/button-submit.png) no-repeat;
	width: 143px;
	height: 37px;
	margin: 0 auto;
	padding: 0;
	border: none;
}


/* #testimonials */

#testimonials { height: 235px; }
#testimonials h3 {
	background: url(../images/custom/deco-double-line.png) 0 100% no-repeat;
	height: 43px;
	margin: 17px 0 0px;
	font: 24px/41px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #616060;
	text-align: center;
	text-shadow: 0 1px #fff;
}
#testimonials .testimony {
	background: url(../images/custom/bg-testimony.png) 50% 0 no-repeat;
	padding: 5px 15px 0 15px;
	font-style: italic;
	line-height: 20px;
}
#testimonials .author {
	padding: 20px 0 15px;
	text-align: right;
}
#testimonials .read-next { padding: 11px 0; }
#testimonials .read-next a {
	display: block;
	background: url(../images/custom/button-read-next.png) no-repeat;
	width: 142px;
	height: 37px;
	margin: 0 auto;
	/* hide from IE Mac \*/
	text-indent: -999em;
	overflow: hidden;
	/* end hide */
}
#testimonials .read-reviews {}
#testimonials .read-reviews span {
	display: inline;
	float: left;
	height: 34px;
	padding: 0 20px 0 15px;
	line-height: 34px;
font-size: 10px;
}


/* .box */

.sidebar .box {
	background: #f8f8f8;
	margin: 0 0 15px;
	padding: 25px 5px 10px;
	border: 1px solid #c2c2c2;
}
.sidebar .box-center { text-align: center; }

.sidebar #call-us { padding: 3px 5px; }
.sidebar #call-us p {
	margin: 0;
	padding: 14px 0;
	border: 1px solid #dedede;
}
.sidebar #call-us em { font: 20px "Palatino Linotype", "Book Antiqua", Palatino, serif; }
.sidebar #call-us strong { font: 26px "Palatino Linotype", "Book Antiqua", Palatino, serif; }

.sidebar #testimony {
	margin: 10px 0 0;
	padding: 15px 14px 12px; 
}
.sidebar #testimony .testimony {
	padding: 15px 0 0;
	border-top: 1px solid #dedede; 
}
.sidebar #testimony h3 {
	margin: 0 0 15px;
	font: 24px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #616060;
	text-align: center;
	text-shadow: 0 1px #fff;
}
.sidebar #testimony p { 
	font-style: italic;
	color: #5b5856;
	line-height: 20px;
}
.sidebar #testimony .author {
	padding-right: 15px;
	text-align: right; 
}
.sidebar #testimony .read-next { margin: 0; }
.sidebar #testimony .read-next a {
	display: block;
	background: url(../images/custom/button-read-next.png) no-repeat;
	width: 142px;
	height: 37px;
	margin: 0 auto;
	/* hide from IE Mac \*/
	text-indent: -999em;
	overflow: hidden;
	/* end hide */
}
.sidebar #testimony .read-reviews { margin: 0; }
.sidebar #testimony .read-reviews span {
	display: inline;
	float: left;
	height: 34px;
	padding: 0 15px 0 0;
	line-height: 34px;
font-size: 10px;
}

/*





footer

*******************************************************************************************************************/

#footer {
	position: relative;
	background: url(../images/custom/bg-footer.png) no-repeat;
	height: 82px;
	padding-left: 82px;
	text-align: left;
}
.page-template-page-home-php #footer { 
	padding-left: 0;
	text-align: center;
}
#footer ul { list-style: none; }
#footer li { 
	display: inline-block; 
	/* hack for IE7 */
	*display: inline;
	*zoom: 1;
	/* end hack for IE7 */
}
#footer a {
	display: inline-block;
	padding: 0 8px;
	font: 12px/50px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #6c6c6c;
	/* hack for IE7 */
	*display: inline;
	*zoom: 1;
	/* end hack for IE7 */
}		

a.simplelink{
	color: #555555;
text-decoration: none;
}

 a.simplelink:hover{
	color: #43916d;
text-decoration: underline;
}